{% extends "core/base.html" %}

{% block title %}О клинике{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>О нашем медицинском центре</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Наши преимущества</h3>
            <ul class="list-group">
                <li class="list-group-item">Современное оборудование</li>
                <li class="list-group-item">Опытные специалисты</li>
                <li class="list-group-item">Круглосуточная работа</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Лицензии</h3>
            <div class="card">
                <div class="card-body">
                    <p>Лицензия № ЛО-77-01-012345 от 12.01.2023</p>
                    <p>Выдана Департаментом здравоохранения г. Минск</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}