{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Наши услуги</h2>
    <div class="row">
        {% for service in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.price }} руб.</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}